<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CountDownTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CountDownTimer.Properties.Settings>
            <setting name="RunMinute" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CountDownSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimeCheckSpan" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TimerFormSize" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="StartCountDown" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>カウントダウンタイマー</value>
            </setting>
            <setting name="TimerFormPosition" serializeAs="String">
                <value>3</value>
            </setting>
        </CountDownTimer.Properties.Settings>
    </userSettings>
</configuration>